<p>book works!</p>
<!-- Book details modal -->
  <!-- <div class="modal fade" id="bookDetailsModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bookDetailsModalLabel">{{ selectedBook?.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Author:</strong> {{ selectedBook?.author }}</p>
          <p><strong>Year of Publication:</strong> {{ selectedBook?.year }}</p>
        </div>
      </div>
    </div>
  </div> -->
